.about {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 80px;
  text-align: center;
  background-image: url('../../images/background.jpg');
  height: 600px;
}

.about-text {
  font-size: 18px;
}