.TilesList {
    margin: 35px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
}

.tile {
	width: 70px;
	height: 70px;
	margin: 20px;
	border-radius: 20px;
	border: 4px solid #dadada;
	position: relative;
	float: left;
	overflow: hidden;
}

.active {
	border: 4px solid black;
    border-radius: 20px;
}

.good {
	border: 4px solid green;
    border-radius: 20px;	
}

.red {
  background-color: red;
}

.blue {
  background-color: lightblue;
}

.green {
  background-color: greenyellow;
}

.yellow {
  background-color: yellow;
}

.grey {
  background-color: grey;
}

.blueviolet {
  background-color: blueviolet;
}
