@media all and (orientation:landscape) {
  .TilesList {
      //padding: 10px 0 0 0;
  }
  .show-4 {
      width: 280px;
      margin: auto;
      margin-top: 30px;
  }

  .show-6 {
      width: 360px;
      margin: auto;
      margin-top: 30px;
  }

  .show-8 {
      width: 450px;
      margin: auto;
      margin-top: 30px;
  }
  
  .show-10 {
      width: 450px;
      margin: auto;
  }

  .show-12 {
      width: 450px;
      margin: auto;
  }
}

@media all and (orientation:portrait) {
  .TilesList {
      //padding: 10px 0 0 0;
  }

  .show-4 {
      width: 260px;
      margin: auto;
      margin-top: 40px;
  }

  .show-6 {
      width: 285px;
      margin: auto;
      margin-top: 40px;
  }

  .show-8 {
      width: 260px;
      margin: auto;
      margin-top: 40px;
  }
  
  .show-10 {
      width: 285px;
      margin: auto;
      margin-top: 40px;
  }
  
  .show-12 {
      width: 285px;
      margin: auto;
      margin-top: 40px;
  }
}

.tile {
	width: 65px;
	height: 65px;
	margin: 5px 15px 5px 15px;
	border-radius: 10px;
	border: 2px solid #dadada;
    display: inline-block;
}

.active-tile-even {
    border-radius: 10px;
    animation-name: glowing-tile;
    animation-duration: 0.5s;
}

.active-tile-odd {
    border-radius: 10px;
    animation-name: glowing-tile;
    animation-duration: 0.5s;
}

@keyframes glowing-tile {
    0%    {box-shadow: 0 0 150px rgba(0, 130, 200, 1);
           border: 10px solid rgba(0, 130, 200, 1);
          }
    25%   {box-shadow: 0 0 40px rgba(0, 130, 200, 1);
           border: 8px solid rgba(0, 130, 200, 1);
          }
    35%   {box-shadow: 0 0 30px rgba(0, 130, 200, 1);
           border: 6px solid rgba(0, 130, 200, 1);
          }
    50%   {box-shadow: 0 0 20px rgba(0, 130, 200, 1);
           border: 4px solid rgba(0, 130, 200, 1);
          }
    75%   {box-shadow: 0 0 10px rgba(0, 130, 200, 1);
           border: 2px solid rgba(0, 130, 200, 1);
          }
    100%  {box-shadow: 0 0 5px rgba(0, 130, 200, 1);
           border: 1px solid rgba(0, 130, 200, 1);
          }
} 

.good-even {
   border-radius: 10px;
    animation-name: glowing-tile-good;
    animation-duration: 0.5s;
}

.good-odd {
   border-radius: 10px;
    animation-name: glowing-tile-good;
    animation-duration: 0.5s;
}

@keyframes glowing-tile-good {
    0%    {box-shadow: 0 0 150px rgba(0, 203, 0, 1);
           border: 10px solid rgba(0, 203, 0, 1);
           opacity: 0.5;
          }
    25%   {box-shadow: 0 0 40px rgba(0, 203, 0, 1);
           border: 8px solid rgba(0, 203, 0, 1);
           opacity: 0.7;
          }
    35%   {box-shadow: 0 0 30px rgba(0, 203, 0, 1);
           border: 6px solid rgba(0, 203, 0, 1);
           opacity: 0.8;
          }
    50%   {box-shadow: 0 0 20px rgba(0, 203, 0, 1);
           border: 4px solid rgba(0, 203, 0, 1);
           opacity: 0.9;
          }
    75%   {box-shadow: 0 0 10px rgba(0, 203, 0, 1);
           border: 4px solid rgba(0, 203, 0, 1);
           opacity: 1;
          }
    100%  {box-shadow: 0 0 5px rgba(0, 203, 0, 1);
           border: 1px solid rgba(0, 203, 0, 1);
           opacity: 1;
          }
}

.bad {
   border-radius: 10px;
    animation-name: glowing-tile-bad;
    animation-duration: 0.4s;
}

@keyframes glowing-tile-bad {
    0%    {box-shadow: 0 0 150px rgba(203, 0, 0, 1);
           border: 10px solid rgba(203, 0, 0, 1);
           opacity: 0.5;
          }
    25%   {box-shadow: 0 0 40px rgba(203, 0, 0, 1);
           border: 8px solid rgba(203, 0, 0, 1);
           opacity: 0.7;
          }
    35%   {box-shadow: 0 0 30px rgba(203, 0, 0, 1);
           border: 6px solid rgba(203, 0, 0, 1);
           opacity: 0.8;
          }
    50%   {box-shadow: 0 0 20px rgba(203, 0, 0, 1);
           border: 4px solid rgba(203, 0, 0, 1);
           opacity: 0.9;
          }
    75%   {box-shadow: 0 0 10px rgba(203, 0, 0, 1);
           border: 4px solid rgba(203, 0, 0, 1);
           opacity: 1;
          }
    100%  {box-shadow: 0 0 5px rgba(203, 0, 0, 1);
           border: 1px solid rgba(203, 0, 0, 1);
           opacity: 1;
          }
}
