.header {
  //height: 115px;
}

.result-area {
}

.result-text {
}

.game-info-section {
	width: 100%;
	display: flex;

	.title-small-margin {
		margin-top:3px;
		margin-bottom:3px;
	}
}

.info-element {
	width: 100%;
}

.glyphicon-size {
	font-size: 24px;	
}

.glyphicon-padding {
	margin-right: 80%;
	color: #666666;	
}
